openapi: 3.0.3
info:
  title: eBay Marketplace API
  version: 1.0.0
servers:
- url: https://ISD-Ka-Ye-Dukh-Kahe-Khatam-Nahi-Hota.com
- url: https://ebay.com
tags:
- name: Browse & Search
- name: Checkout & Orders (Buyer)
- name: Auctions
- name: Offers & Negotiation
- name: Payments & Refunds
- name: Returns & Post-Order
- name: Inventory Management
- name: Order Fulfillment (Seller)
- name: Promotions & Marketing
- name: Shipping & Logistics
- name: Classified Ads
- name: Messaging
security:
- OAuth2:
  - https://api.ebay.com/oauth/api_scope
paths:
  /buy/v1/browse/item_summary/search:
    get:
      tags:
      - Browse & Search
      summary: Search Items
      operationId: searchItems
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        example: iPhone 15 Pro
      - name: category_ids
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchPagedCollection'
          description: HTTP 200 response
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /buy/v1/browse/item/{itemId}:
    get:
      tags:
      - Browse & Search
      summary: Get Item Details
      operationId: getItemDetails
      parameters:
      - $ref: '#/components/parameters/ItemIdPath'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
          description: HTTP 200 response
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /buy/v1/order/checkout_session/initiate:
    post:
      tags:
      - Checkout & Orders (Buyer)
      summary: Initiate Checkout Session
      operationId: initiateCheckoutSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuyNowRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyNowResponse'
          description: HTTP 201 response
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: HTTP 409 response
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: HTTP 402 response
        '500':
          $ref: '#/components/responses/InternalServerError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /buy/v1/order/checkout_session/{checkoutSessionId}:
    get:
      tags:
      - Checkout & Orders (Buyer)
      summary: Get Checkout Session
      operationId: getCheckoutSession
      parameters:
      - $ref: '#/components/parameters/CheckoutSessionIdPath'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /buy/v1/order/checkout_session/{checkoutSessionId}/place_order:
    post:
      tags:
      - Checkout & Orders (Buyer)
      summary: Place Order from Checkout Session
      operationId: placeOrderFromCheckoutSession
      parameters:
      - $ref: '#/components/parameters/CheckoutSessionIdPath'
      responses:
        '201':
          description: HTTP 201 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyNowResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /buy/v1/offer/bidding/{itemId}:
    get:
      tags:
      - Auctions
      summary: Get Bidding Item
      operationId: getBiddingItem
      parameters:
      - $ref: '#/components/parameters/ItemIdPath'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionItem'
          description: HTTP 200 response
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /buy/v1/offer/bidding/{itemId}/place_proxy_bid:
    post:
      tags:
      - Auctions
      summary: Place Proxy Bid
      operationId: placeProxyBid
      parameters:
      - $ref: '#/components/parameters/ItemIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceBidRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BidResponse'
          description: HTTP 200 response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: HTTP 400 response
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /buy/v1/offer/bidding/{itemId}/bids:
    get:
      tags:
      - Auctions
      summary: Get Bid History
      operationId: getBidHistory
      parameters:
      - $ref: '#/components/parameters/ItemIdPath'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BidList'
          description: HTTP 200 response
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sell/v1/inventory/auction/{itemId}/end:
    post:
      tags:
      - Auctions
      summary: End Auction Listing
      operationId: endAuctionListing
      parameters:
      - $ref: '#/components/parameters/ItemIdPath'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionEndResponse'
          description: HTTP 200 response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: HTTP 400 response
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sell/v1/negotiation/offer/{offerId}/send_second_chance_offer:
    post:
      tags:
      - Auctions
      summary: Send Second Chance Offer
      operationId: sendSecondChanceOffer
      parameters:
      - $ref: '#/components/parameters/ItemIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecondChanceOfferRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecondChanceOfferResponse'
          description: HTTP 201 response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /buy/v1/offer/offer/{itemId}/make_offer:
    post:
      tags:
      - Offers & Negotiation
      summary: Make Offer
      operationId: makeOffer
      parameters:
      - $ref: '#/components/parameters/ItemIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MakeOfferRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferResponse'
          description: HTTP 201 response
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sell/v1/negotiation/offer/{offerId}/respond:
    post:
      tags:
      - Offers & Negotiation
      summary: Respond to Offer
      operationId: respondToOffer
      parameters:
      - name: offerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferDecisionRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferResponse'
          description: HTTP 200 response
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /buy/v1/offer/offer/{offerId}:
    get:
      tags:
      - Offers & Negotiation
      summary: Get Offer
      operationId: getOffer
      parameters:
      - name: offerId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /commerce/v1/payment/payment:
    post:
      tags:
      - Payments & Refunds
      summary: Create Payment
      operationId: createPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
          description: HTTP 200 response
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: HTTP 402 response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /commerce/v1/payment/payment/{paymentId}:
    get:
      tags:
      - Payments & Refunds
      summary: Get Payment
      operationId: getPayment
      parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
          description: HTTP 200 response
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /commerce/v1/refund/refund:
    post:
      tags:
      - Payments & Refunds
      summary: Create Refund
      operationId: createRefund
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
          description: HTTP 200 response
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: HTTP 404 response
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /post-order/v1/return:
    post:
      tags:
      - Returns & Post-Order
      summary: Submit Return Request
      operationId: submitReturnRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReturnRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnRequest'
          description: HTTP 201 response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /post-order/v1/return/search:
    get:
      tags:
      - Returns & Post-Order
      summary: Search Return Requests
      operationId: searchReturnRequests
      parameters:
      - name: buyer_login_name
        in: query
        schema:
          type: string
      - name: seller_login_name
        in: query
        schema:
          type: string
      - name: return_status
        in: query
        schema:
          type: string
          enum:
          - PENDING
          - APPROVED
          - DECLINED
      - name: order_id
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnRequestSearchResult'
          description: HTTP 200 response
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /post-order/v1/return/{returnId}:
    get:
      tags:
      - Returns & Post-Order
      summary: Get Return Request Details
      operationId: getReturnDetail
      parameters:
      - name: returnId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnRequest'
          description: HTTP 200 response
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /post-order/v1/return/{returnId}/approve:
    post:
      tags:
      - Returns & Post-Order
      summary: Approve Return Request (Seller)
      operationId: approveReturnRequest
      parameters:
      - name: returnId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnDecision'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnRequest'
          description: HTTP 200 response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /post-order/v1/return/{returnId}/decline:
    post:
      tags:
      - Returns & Post-Order
      summary: Decline Return Request (Seller)
      operationId: declineReturnRequest
      parameters:
      - name: returnId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnDecision'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnRequest'
          description: HTTP 200 response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sell/v1/inventory/inventory_item:
    post:
      tags:
      - Inventory Management
      summary: Create Inventory Item
      operationId: createInventoryItem
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddItemRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddItemResponse'
          description: HTTP 201 response
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /sell/v1/inventory/inventory_item/{sku}:
    get:
      tags:
      - Inventory Management
      summary: Get Inventory Item
      operationId: getInventoryItem
      parameters:
      - $ref: '#/components/parameters/SkuPath'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddItemResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
      - Inventory Management
      summary: Update Inventory Item
      operationId: updateInventoryItem
      parameters:
      - $ref: '#/components/parameters/SkuPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateItemRequest'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddItemResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
      - Inventory Management
      summary: Delete Inventory Item
      operationId: deleteInventoryItem
      parameters:
      - $ref: '#/components/parameters/SkuPath'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingStatusResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sell/v1/fulfillment/order:
    get:
      tags:
      - Order Fulfillment (Seller)
      summary: Get Orders
      operationId: getOrders
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerOrderList'
          description: HTTP 200 response
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sell/v1/fulfillment/order/{orderId}:
    get:
      tags:
      - Order Fulfillment (Seller)
      summary: Get Order
      operationId: getOrder
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerOrder'
          description: HTTP 200 response
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sell/v1/fulfillment/order/{orderId}/shipping_fulfillment:
    post:
      tags:
      - Order Fulfillment (Seller)
      summary: Create Shipping Fulfillment
      operationId: createShippingFulfillment
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentUpdateRequest'
      responses:
        '200':
          description: HTTP 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sell/v1/marketing/ad/{itemId}/promote:
    post:
      tags:
      - Promotions & Marketing
      summary: Create Promotion
      operationId: createPromotion
      parameters:
      - $ref: '#/components/parameters/ItemIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotionRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionResponse'
          description: HTTP 201 response
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: HTTP 402 response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sell/v1/marketing/ad:
    get:
      tags:
      - Promotions & Marketing
      summary: Get Marketing Eligible Inventory
      operationId: getMarketingEligibleInventory
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
          description: HTTP 200 response
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /commerce/v1/shipping/shipping_quote/{orderId}:
    get:
      tags:
      - Shipping & Logistics
      summary: Get Available Shipping Methods
      operationId: getShippingMethods
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Available shipping methods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShippingMethodsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /commerce/v1/shipping/shipping_label:
    post:
      tags:
      - Shipping & Logistics
      summary: Create Shipping Label
      operationId: createShippingLabel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShippingLabelRequest'
      responses:
        '201':
          description: Shipping label created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShippingLabelResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /commerce/v1/shipping/shipping_label/{labelId}:
    get:
      tags:
      - Shipping & Logistics
      summary: Get Shipping Label
      operationId: getShippingLabel
      parameters:
      - name: labelId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Shipping label details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShippingLabelResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /messaging/v1/conversation:
    get:
      tags:
      - Messaging
      summary: Get Conversations
      operationId: getConversations
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: List of conversations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /messaging/v1/conversation/{conversationId}:
    get:
      tags:
      - Messaging
      summary: Get Conversation Messages
      operationId: getConversationMessages
      parameters:
      - name: conversationId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Conversation messages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /messaging/v1/message:
    post:
      tags:
      - Messaging
      summary: Send Message
      operationId: sendMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        '201':
          description: Message sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sell/v1/classified_ads/classified_ad:
    post:
      tags:
      - Classified Ads
      summary: Create Classified Listing
      operationId: createClassifiedListing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClassifiedListingRequest'
      responses:
        '201':
          description: Classified listing created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassifiedListingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
      - Classified Ads
      summary: Get Seller Classified Listings
      operationId: getSellerClassifiedListings
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Classified listings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassifiedListingListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sell/v1/classified_ads/classified_ad/{classifiedAdId}:
    get:
      tags:
      - Classified Ads
      summary: Get Classified Listing Details
      operationId: getClassifiedListingDetails
      parameters:
      - name: classifiedAdId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Classified listing details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassifiedListingResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sell/v1/classified_ads/classified_ad/{classifiedAdId}/interested_buyers:
    get:
      tags:
      - Classified Ads
      summary: Get Interested Buyers
      operationId: getInterestedBuyers
      parameters:
      - name: classifiedAdId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: List of buyers interested in classified ad
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterestedBuyersResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sell/v1/classified_ads/classified_ad/{classifiedAdId}/buyer_interest/{buyerId}:
    post:
      tags:
      - Classified Ads
      summary: Contact Interested Buyer
      operationId: contactInterestedBuyer
      parameters:
      - name: classifiedAdId
        in: path
        required: true
        schema:
          type: string
      - name: buyerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactBuyerRequest'
      responses:
        '200':
          description: Buyer contact initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.ebay.com/oauth2/authorize
          tokenUrl: https://api.ebay.com/identity/v1/oauth2/token
          refreshUrl: https://api.ebay.com/identity/v1/oauth2/token
          scopes:
            https://api.ebay.com/oauth/api_scope: General access
            https://api.ebay.com/oauth/api_scope/buy.browse: Browse items
            https://api.ebay.com/oauth/api_scope/buy.offer: Make offers
            https://api.ebay.com/oauth/api_scope/buy.order: Place orders
            https://api.ebay.com/oauth/api_scope/sell.inventory: Manage inventory
            https://api.ebay.com/oauth/api_scope/sell.fulfillment: Manage orders
            https://api.ebay.com/oauth/api_scope/sell.finances: Financial data
            https://api.ebay.com/oauth/api_scope/sell.marketing: Promotions
  parameters:
    ItemIdPath:
      name: itemId
      in: path
      required: true
      schema:
        type: string
      example: v1|110512188501|0
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    SkuPath:
      name: sku
      in: path
      required: true
      schema:
        type: string
    CheckoutSessionIdPath:
      name: checkoutSessionId
      in: path
      required: true
      schema:
        type: string
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Access forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Resource state conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServiceUnavailable:
      description: Service unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              errorId:
                type: integer
              domain:
                type: string
              category:
                type: string
                enum:
                - APPLICATION
                - BUSINESS
                - REQUEST
              message:
                type: string
              longMessage:
                type: string
              parameters:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
    Amount:
      type: object
      properties:
        value:
          type: string
          example: '29.99'
        currency:
          type: string
          example: USD
    Image:
      type: object
      properties:
        imageUrl:
          type: string
          format: uri
        height:
          type: integer
        width:
          type: integer
    Seller:
      type: object
      properties:
        username:
          type: string
        userId:
          type: string
        feedbackPercentage:
          type: string
        feedbackScore:
          type: integer
    Buyer:
      type: object
      properties:
        username:
          type: string
        userId:
          type: string
    PaginationInfo:
      type: object
      properties:
        href:
          type: string
        next:
          type: string
        prev:
          type: string
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
    ItemSummary:
      type: object
      properties:
        itemId:
          type: string
        title:
          type: string
        price:
          $ref: '#/components/schemas/Amount'
        image:
          $ref: '#/components/schemas/Image'
        condition:
          type: string
        seller:
          $ref: '#/components/schemas/Seller'
        itemLocation:
          type: string
        buyingOptions:
          type: array
          items:
            type: string
            enum:
            - FIXED_PRICE
            - AUCTION
            - BEST_OFFER
        categories:
          type: array
          items:
            type: object
            properties:
              categoryId:
                type: string
              categoryName:
                type: string
    SearchPagedCollection:
      allOf:
      - $ref: '#/components/schemas/PaginationInfo'
      - type: object
        properties:
          itemSummaries:
            type: array
            items:
              $ref: '#/components/schemas/ItemSummary'
    Item:
      type: object
      properties:
        itemId:
          type: string
        title:
          type: string
        shortDescription:
          type: string
        description:
          type: string
        price:
          $ref: '#/components/schemas/Amount'
        condition:
          type: string
        conditionId:
          type: string
        seller:
          $ref: '#/components/schemas/Seller'
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
        buyingOptions:
          type: array
          items:
            type: string
            enum:
            - FIXED_PRICE
            - AUCTION
            - BEST_OFFER
        quantityAvailable:
          type: integer
        itemLocation:
          type: string
        shippingOptions:
          type: array
          items:
            type: object
            properties:
              shippingServiceCode:
                type: string
              shippingCost:
                $ref: '#/components/schemas/Amount'
              minEstimatedDeliveryDate:
                type: string
                format: date-time
              maxEstimatedDeliveryDate:
                type: string
                format: date-time
        categories:
          type: array
          items:
            type: object
            properties:
              categoryId:
                type: string
              categoryName:
                type: string
    BuyNowRequest:
      type: object
      required:
      - itemId
      - quantity
      - paymentMethod
      properties:
        itemId:
          type: string
        quantity:
          type: integer
          minimum: 1
          default: 1
        shippingAddressId:
          type: string
        paymentMethod:
          type: string
          enum:
          - CREDIT_CARD
          - PAYPAL
          - APPLE_PAY
          - GOOGLE_PAY
        paymentAccountId:
          type: string
    BuyNowResponse:
      type: object
      properties:
        orderId:
          type: string
        orderStatus:
          type: string
          enum:
          - CREATED
          - PAYMENT_PENDING
          - PAYMENT_COMPLETED
          - CONFIRMED
        itemId:
          type: string
        quantity:
          type: integer
        totalPrice:
          $ref: '#/components/schemas/Amount'
        paymentStatus:
          type: string
          enum:
          - SUCCESS
          - PENDING
          - FAILED
        paymentId:
          type: string
        createdAt:
          type: string
          format: date-time
        buyer:
          $ref: '#/components/schemas/Buyer'
        seller:
          $ref: '#/components/schemas/Seller'
    AvailabilityResponse:
      type: object
      properties:
        itemId:
          type: string
        available:
          type: boolean
        quantityAvailable:
          type: integer
    AuctionItem:
      type: object
      properties:
        itemId:
          type: string
        title:
          type: string
        description:
          type: string
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
        startingPrice:
          $ref: '#/components/schemas/Amount'
        currentBid:
          $ref: '#/components/schemas/Amount'
        bidCount:
          type: integer
        highBidder:
          $ref: '#/components/schemas/Buyer'
        seller:
          $ref: '#/components/schemas/Seller'
        auctionStartTime:
          type: string
          format: date-time
        auctionEndTime:
          type: string
          format: date-time
        auctionStatus:
          type: string
          enum:
          - ACTIVE
          - ENDED
          - CANCELLED
        minimumBidIncrement:
          $ref: '#/components/schemas/Amount'
    PlaceBidRequest:
      type: object
      required:
      - bidAmount
      properties:
        bidAmount:
          $ref: '#/components/schemas/Amount'
        maxAutoBidAmount:
          $ref: '#/components/schemas/Amount'
    BidResponse:
      type: object
      properties:
        bidId:
          type: string
        itemId:
          type: string
        bidAmount:
          $ref: '#/components/schemas/Amount'
        bidStatus:
          type: string
          enum:
          - WINNING
          - OUTBID
          - CONFIRMED
        currentHighBid:
          $ref: '#/components/schemas/Amount'
        bidCount:
          type: integer
        bidTime:
          type: string
          format: date-time
    BidList:
      allOf:
      - $ref: '#/components/schemas/PaginationInfo'
      - type: object
        properties:
          bids:
            type: array
            items:
              $ref: '#/components/schemas/BidResponse'
    AuctionEndResponse:
      type: object
      properties:
        itemId:
          type: string
        auctionStatus:
          type: string
          enum:
          - ENDED
        winner:
          $ref: '#/components/schemas/AuctionWinner'
        totalBids:
          type: integer
        finalPrice:
          $ref: '#/components/schemas/Amount'
        secondChanceEligibleBidders:
          type: array
          items:
            $ref: '#/components/schemas/Buyer'
    AuctionWinner:
      type: object
      properties:
        userId:
          type: string
        username:
          type: string
        winningBid:
          $ref: '#/components/schemas/Amount'
        wonAt:
          type: string
          format: date-time
    SecondChanceOfferRequest:
      type: object
      required:
      - recipientUserId
      - offerPrice
      - duration
      properties:
        recipientUserId:
          type: string
        offerPrice:
          $ref: '#/components/schemas/Amount'
        duration:
          type: string
          enum:
          - DAYS_1
          - DAYS_3
          - DAYS_5
          - DAYS_7
    SecondChanceOfferResponse:
      type: object
      properties:
        offerId:
          type: string
        itemId:
          type: string
        recipientUserId:
          type: string
        offerPrice:
          $ref: '#/components/schemas/Amount'
        expirationDate:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - SENT
          - ACCEPTED
          - DECLINED
          - EXPIRED
    MakeOfferRequest:
      type: object
      required:
      - offerPrice
      properties:
        offerPrice:
          $ref: '#/components/schemas/Amount'
        message:
          type: string
        quantity:
          type: integer
          minimum: 1
          default: 1
    OfferDecisionRequest:
      type: object
      required:
      - action
      properties:
        action:
          type: string
          enum:
          - ACCEPT
          - REJECT
          - COUNTER
        counterOfferPrice:
          $ref: '#/components/schemas/Amount'
        message:
          type: string
    OfferResponse:
      type: object
      properties:
        offerId:
          type: string
        itemId:
          type: string
        offerPrice:
          $ref: '#/components/schemas/Amount'
        status:
          type: string
          enum:
          - PENDING
          - ACCEPTED
          - REJECTED
          - COUNTERED
          - EXPIRED
        buyer:
          $ref: '#/components/schemas/Buyer'
        seller:
          $ref: '#/components/schemas/Seller'
        negotiationRound:
          type: integer
        counterOfferPrice:
          $ref: '#/components/schemas/Amount'
        addedToCart:
          type: boolean
        message:
          type: string
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
    OfferList:
      allOf:
      - $ref: '#/components/schemas/PaginationInfo'
      - type: object
        properties:
          offers:
            type: array
            items:
              $ref: '#/components/schemas/OfferResponse'
    PaymentRequest:
      type: object
      required:
      - orderId
      - paymentMethod
      - amount
      properties:
        orderId:
          type: string
        paymentMethod:
          type: string
          enum:
          - CREDIT_CARD
          - PAYPAL
          - APPLE_PAY
          - GOOGLE_PAY
          - BANK_TRANSFER
        paymentAccountId:
          type: string
        amount:
          $ref: '#/components/schemas/Amount'
    PaymentResponse:
      type: object
      properties:
        paymentId:
          type: string
        orderId:
          type: string
        paymentMethod:
          type: string
        amount:
          $ref: '#/components/schemas/Amount'
        status:
          type: string
          enum:
          - SUCCESS
          - PENDING
          - FAILED
          - REFUNDED
        gatewayTransactionId:
          type: string
        processedAt:
          type: string
          format: date-time
        payer:
          type: string
        payee:
          type: string
    RefundRequest:
      type: object
      required:
      - paymentId
      - refundAmount
      properties:
        paymentId:
          type: string
        orderId:
          type: string
        refundAmount:
          $ref: '#/components/schemas/Amount'
        reason:
          type: string
          enum:
          - ITEM_NOT_RECEIVED
          - ITEM_NOT_AS_DESCRIBED
          - BUYER_CANCEL
          - OTHER
    RefundResponse:
      type: object
      properties:
        refundId:
          type: string
        paymentId:
          type: string
        refundAmount:
          $ref: '#/components/schemas/Amount'
        status:
          type: string
          enum:
          - PENDING
          - SUCCESS
          - FAILED
        gatewayRefundId:
          type: string
        processedAt:
          type: string
          format: date-time
        refundTo:
          type: string
    CreateReturnRequest:
      type: object
      required:
      - orderId
      - itemId
      - returnReason
      properties:
        orderId:
          type: string
        itemId:
          type: string
        returnReason:
          type: string
          enum:
          - ITEM_NOT_AS_DESCRIBED
          - ITEM_DAMAGED
          - WRONG_ITEM
          - ITEM_NOT_RECEIVED
          - CHANGED_MIND
          - OTHER
        comment:
          type: string
    ReturnRequest:
      type: object
      properties:
        returnId:
          type: string
        orderId:
          type: string
        itemId:
          type: string
        buyerLoginName:
          type: string
        sellerLoginName:
          type: string
        returnReason:
          type: string
        comment:
          type: string
        status:
          type: string
          enum:
          - PENDING
          - APPROVED
          - DECLINED
        refundStatus:
          type: string
          enum:
          - NOT_STARTED
          - PENDING
          - COMPLETED
          - FAILED
        refundAmount:
          $ref: '#/components/schemas/Amount'
        declineReason:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        returnHistory:
          type: array
          items:
            type: object
            properties:
              action:
                type: string
              author:
                type: object
                properties:
                  userId:
                    type: string
                  role:
                    type: string
                    enum:
                    - BUYER
                    - SELLER
                    - SYSTEM
              timestamp:
                type: string
                format: date-time
              comment:
                type: string
    ReturnDecision:
      type: object
      properties:
        reason:
          type: string
        comment:
          type: string
    ReturnRequestSearchResult:
      allOf:
      - $ref: '#/components/schemas/PaginationInfo'
      - type: object
        properties:
          returns:
            type: array
            items:
              $ref: '#/components/schemas/ReturnRequest'
    AddItemRequest:
      type: object
      required:
      - title
      - description
      - categoryId
      - price
      - sellingFormat
      - condition
      properties:
        title:
          type: string
          example: Apple iPhone 15 Pro 256GB
        description:
          type: string
        categoryId:
          type: string
        price:
          $ref: '#/components/schemas/Amount'
        sellingFormat:
          type: string
          enum:
          - BUY_IT_NOW
          - AUCTION
          - CLASSIFIED_AD
        condition:
          type: string
          enum:
          - NEW
          - LIKE_NEW
          - VERY_GOOD
          - GOOD
          - ACCEPTABLE
          - FOR_PARTS
        quantity:
          type: integer
          minimum: 1
          default: 1
        images:
          type: array
          items:
            type: string
            format: uri
        auctionStartPrice:
          $ref: '#/components/schemas/Amount'
        auctionDuration:
          type: string
          enum:
          - DAYS_1
          - DAYS_3
          - DAYS_5
          - DAYS_7
          - DAYS_10
        reservePrice:
          $ref: '#/components/schemas/Amount'
        buyItNowPrice:
          $ref: '#/components/schemas/Amount'
        makeOfferEnabled:
          type: boolean
          default: false
        shippingOptions:
          type: array
          items:
            type: object
            properties:
              shippingServiceCode:
                type: string
              shippingCost:
                $ref: '#/components/schemas/Amount'
              freeShipping:
                type: boolean
        itemLocation:
          type: string
        sku:
          type: string
    AddItemResponse:
      type: object
      properties:
        itemId:
          type: string
        title:
          type: string
        sellingFormat:
          type: string
          enum:
          - BUY_IT_NOW
          - AUCTION
          - CLASSIFIED_AD
        listingStatus:
          type: string
          enum:
          - ACTIVE
          - PENDING
          - DRAFT
        listingUrl:
          type: string
          format: uri
        createdAt:
          type: string
          format: date-time
    DiscountRequest:
      type: object
      required:
      - discountType
      properties:
        discountType:
          type: string
          enum:
          - PERCENTAGE
          - FIXED_AMOUNT
        discountValue:
          type: number
        discountAmount:
          $ref: '#/components/schemas/Amount'
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
    DiscountResponse:
      type: object
      properties:
        itemId:
          type: string
        originalPrice:
          $ref: '#/components/schemas/Amount'
        discountedPrice:
          $ref: '#/components/schemas/Amount'
        discountType:
          type: string
        discountValue:
          type: number
        message:
          type: string
    SellerOrder:
      type: object
      properties:
        orderId:
          type: string
        buyerUsername:
          type: string
        sellerId:
          type: string
        orderStatus:
          type: string
          enum:
          - PENDING
          - CONFIRMED
          - SHIPPED
          - DELIVERED
          - CANCELLED
          - RETURNED
        totalAmount:
          $ref: '#/components/schemas/Amount'
        lineItems:
          type: array
          items:
            type: object
            properties:
              itemId:
                type: string
              title:
                type: string
              quantity:
                type: integer
              price:
                $ref: '#/components/schemas/Amount'
              sku:
                type: string
        shippingAddress:
          type: object
          properties:
            fullName:
              type: string
            addressLine1:
              type: string
            addressLine2:
              type: string
            city:
              type: string
            stateOrProvince:
              type: string
            postalCode:
              type: string
            countryCode:
              type: string
        shipment:
          type: object
          properties:
            trackingNumber:
              type: string
            carrier:
              type: string
            shippedDate:
              type: string
              format: date-time
            estimatedDeliveryDate:
              type: string
              format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SellerOrderList:
      allOf:
      - $ref: '#/components/schemas/PaginationInfo'
      - type: object
        properties:
          orders:
            type: array
            items:
              $ref: '#/components/schemas/SellerOrder'
    SellerOffer:
      type: object
      properties:
        offerId:
          type: string
        itemId:
          type: string
        itemTitle:
          type: string
        offerPrice:
          $ref: '#/components/schemas/Amount'
        status:
          type: string
          enum:
          - PENDING
          - ACCEPTED
          - REJECTED
          - EXPIRED
          - COUNTERED
        buyer:
          $ref: '#/components/schemas/Buyer'
        customerDetails:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
            feedbackScore:
              type: integer
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
    SellerOfferList:
      allOf:
      - $ref: '#/components/schemas/PaginationInfo'
      - type: object
        properties:
          offers:
            type: array
            items:
              $ref: '#/components/schemas/SellerOffer'
    OfferAcceptanceResponse:
      type: object
      properties:
        offerId:
          type: string
        status:
          type: string
          enum:
          - ACCEPTED
        orderId:
          type: string
        shipmentStatus:
          type: string
          enum:
          - SCHEDULED
          - PENDING_INVENTORY
          - FAILED
        deliveryAgency:
          type: string
        estimatedDeliveryDate:
          type: string
          format: date-time
        message:
          type: string
    OrderAcceptanceResponse:
      type: object
      properties:
        orderId:
          type: string
        status:
          type: string
          enum:
          - CONFIRMED
          - SHIPPED
        shipmentStatus:
          type: string
          enum:
          - SCHEDULED
          - PENDING_INVENTORY
          - FAILED
        trackingNumber:
          type: string
        carrier:
          type: string
        estimatedDeliveryDate:
          type: string
          format: date-time
        message:
          type: string
    PromotionRequest:
      type: object
      required:
      - promotionType
      - paymentMethod
      properties:
        promotionType:
          type: string
          enum:
          - STANDARD
          - FEATURED
          - BOLD_TITLE
        pictures:
          type: array
          items:
            type: string
            format: uri
        promotionDuration:
          type: string
          enum:
          - DAYS_7
          - DAYS_14
          - DAYS_30
        paymentMethod:
          type: string
          enum:
          - CREDIT_CARD
          - PAYPAL
          - WALLET_BALANCE
        paymentAccountId:
          type: string
        promotionBudget:
          $ref: '#/components/schemas/Amount'
    PromotionResponse:
      type: object
      properties:
        promotionId:
          type: string
        itemId:
          type: string
        promotionType:
          type: string
        status:
          type: string
          enum:
          - ACTIVE
          - PAYMENT_FAILED
          - PENDING
          - EXPIRED
        paymentStatus:
          type: string
          enum:
          - SUCCESS
          - FAILED
        promotionFee:
          $ref: '#/components/schemas/Amount'
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        message:
          type: string
    SellerProduct:
      type: object
      properties:
        itemId:
          type: string
        title:
          type: string
        price:
          $ref: '#/components/schemas/Amount'
        sellingFormat:
          type: string
          enum:
          - BUY_IT_NOW
          - AUCTION
          - CLASSIFIED_AD
        listingStatus:
          type: string
          enum:
          - ACTIVE
          - ENDED
          - DRAFT
        image:
          $ref: '#/components/schemas/Image'
        promotionEligible:
          type: boolean
    ProductList:
      allOf:
      - $ref: '#/components/schemas/PaginationInfo'
      - type: object
        properties:
          products:
            type: array
            items:
              $ref: '#/components/schemas/SellerProduct'
    UpdateItemRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        price:
          $ref: '#/components/schemas/Amount'
        quantity:
          type: integer
          minimum: 0
        condition:
          type: string
          enum:
          - NEW
          - LIKE_NEW
          - VERY_GOOD
          - GOOD
          - ACCEPTABLE
          - FOR_PARTS
        images:
          type: array
          items:
            type: string
            format: uri
        listingStatus:
          type: string
          enum:
          - ACTIVE
          - PAUSED
          - ENDED
    ListingStatusResponse:
      type: object
      properties:
        itemId:
          type: string
        listingStatus:
          type: string
          enum:
          - ACTIVE
          - PAUSED
          - ENDED
        updatedAt:
          type: string
          format: date-time
    ShipmentUpdateRequest:
      type: object
      required:
      - carrier
      - trackingNumber
      - shippedDate
      properties:
        carrier:
          type: string
        trackingNumber:
          type: string
        shippedDate:
          type: string
          format: date-time
        estimatedDeliveryDate:
          type: string
          format: date-time
    ShipmentUpdateResponse:
      type: object
      properties:
        orderId:
          type: string
        shipmentStatus:
          type: string
          enum:
          - SHIPPED
          - IN_TRANSIT
        carrier:
          type: string
        trackingNumber:
          type: string
        updatedAt:
          type: string
          format: date-time
    CheckoutSessionResponse:
      type: object
      properties:
        checkoutSessionId:
          type: string
        itemId:
          type: string
        quantity:
          type: integer
        checkoutSessionStatus:
          type: string
          enum:
          - INITIATED
          - READY_TO_PAY
          - EXPIRED
          - COMPLETED
        pricingSummary:
          $ref: '#/components/schemas/Amount'
        expirationDate:
          type: string
          format: date-time
    ShippingMethodsResponse:
      type: object
      properties:
        orderId:
          type: string
        shippingMethods:
          type: array
          items:
            type: object
            properties:
              shippingServiceCode:
                type: string
              carrier:
                type: string
              cost:
                $ref: '#/components/schemas/Amount'
              estimatedDeliveryDate:
                type: string
                format: date-time
              isDefault:
                type: boolean
    CreateShippingLabelRequest:
      type: object
      required:
      - orderId
      - shippingServiceCode
      properties:
        orderId:
          type: string
        shippingServiceCode:
          type: string
        shipperAddress:
          $ref: '#/components/schemas/Address'
        recipientAddress:
          $ref: '#/components/schemas/Address'
        weight:
          type: object
          properties:
            value:
              type: number
            unit:
              type: string
    ShippingLabelResponse:
      type: object
      properties:
        labelId:
          type: string
        orderId:
          type: string
        trackingNumber:
          type: string
        carrier:
          type: string
        labelUrl:
          type: string
          format: uri
        cost:
          $ref: '#/components/schemas/Amount'
        createdAt:
          type: string
          format: date-time
    ConversationListResponse:
      allOf:
      - $ref: '#/components/schemas/PaginationInfo'
      - type: object
        properties:
          conversations:
            type: array
            items:
              type: object
              properties:
                conversationId:
                  type: string
                otherUserName:
                  type: string
                itemId:
                  type: string
                lastMessageTime:
                  type: string
                  format: date-time
                unreadMessageCount:
                  type: integer
    ConversationResponse:
      type: object
      properties:
        conversationId:
          type: string
        itemId:
          type: string
        otherParty:
          type: object
          properties:
            userId:
              type: string
            userName:
              type: string
        messages:
          type: array
          items:
            type: object
            properties:
              messageId:
                type: string
              senderId:
                type: string
              text:
                type: string
              sentAt:
                type: string
                format: date-time
    SendMessageRequest:
      type: object
      required:
      - conversationId
      - text
      properties:
        conversationId:
          type: string
        text:
          type: string
    MessageResponse:
      type: object
      properties:
        messageId:
          type: string
        conversationId:
          type: string
        text:
          type: string
        sentAt:
          type: string
          format: date-time
    CreateClassifiedListingRequest:
      type: object
      required:
      - title
      - currentPrice
      - categoryId
      - condition
      properties:
        title:
          type: string
        currentPrice:
          $ref: '#/components/schemas/Amount'
        categoryId:
          type: string
        condition:
          type: string
          enum:
          - NEW
          - LIKE_NEW
          - VERY_GOOD
          - GOOD
          - ACCEPTABLE
          - FOR_PARTS
        description:
          type: string
        images:
          type: array
          items:
            type: string
            format: uri
        contactInfo:
          type: object
          properties:
            phone:
              type: string
            email:
              type: string
        quantity:
          type: integer
          minimum: 1
          default: 1
    ClassifiedListingResponse:
      type: object
      properties:
        classifiedAdId:
          type: string
        title:
          type: string
        currentPrice:
          $ref: '#/components/schemas/Amount'
        categoryId:
          type: string
        status:
          type: string
          enum:
          - ACTIVE
          - PAUSED
          - ENDED
        interestedBuyersCount:
          type: integer
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
    ClassifiedListingListResponse:
      allOf:
      - $ref: '#/components/schemas/PaginationInfo'
      - type: object
        properties:
          classifiedListings:
            type: array
            items:
              $ref: '#/components/schemas/ClassifiedListingResponse'
    InterestedBuyersResponse:
      allOf:
      - $ref: '#/components/schemas/PaginationInfo'
      - type: object
        properties:
          interestedBuyers:
            type: array
            items:
              type: object
              properties:
                buyerId:
                  type: string
                buyerUserName:
                  type: string
                interestedAt:
                  type: string
                  format: date-time
                feedbackScore:
                  type: integer
    ContactBuyerRequest:
      type: object
      properties:
        message:
          type: string
        initiateOfferNegotiation:
          type: boolean
    Address:
      type: object
      properties:
        fullName:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        city:
          type: string
        stateOrProvince:
          type: string
        postalCode:
          type: string
        countryCode:
          type: string